<div class="container d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-5 text-center rounded-4" style="width: 100%; max-width: 400px; background-color: #f8f9fa;">
    
    <% if user_signed_in? %>
      <h2 class="mb-4" style="color: #007bff;">Welcome Home, <%= current_user.email %>!</h2>
      <%= link_to 'Projects Portal', projects_path, class: "btn btn-primary mb-3 w-100" %>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-danger w-100" %>
    
    <% else %>
      <h2 class="mb-4" style="color: #343a40;">Home</h2>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-primary w-100 mb-3" %>
    <% end %>
<% unless user_signed_in? %>
    <%= link_to "Admin Portal", new_admin_user_session_path, class: "btn btn-secondary w-100" %>
  <% end %>
  </div>
</div>

