<%= form_with(model: [@project, @bug], local: true) do |form| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= form.label :category, "Category" %>
    <%= form.select :category, Bug.categories.keys.map { |key| [key.humanize, key] }, { prompt: "Select Category" }, { class: "form-control", id: 'category_select' } %>
  </div>

  
  <div class="form-group">
    <%= form.label :status, "Status" %>
    <%= form.select :status, [], {}, { class: "form-control", id: 'status_select', 'data-current-status': @bug.status } %>
  </div>

  
  <div class="form-group">
    <%= form.label :developer_id, "Assign Developer" %>
    <%= form.collection_select :developer_id, @developers, :id, :name, { prompt: "Select Developer" }, { class: "form-control" } %>
  </div>

  
  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot, class: "form-control-file" %>
  </div>

  
  <div>
    <%= form.submit "Submit Bug", class: "btn btn-primary" %>
  </div>


<% end %>
